<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') -%>


    <%- include('../partials/navbar.ejs') -%>

        <div class="container mt-8 md:mt-24">
            <div class="px-8 py-6 bg-white rounded-md shadow-sm ">

                dashboard

                <h1>Welcome, <%= user.name %>
                </h1>

                <%- include('../partials/messageInfo.ejs') -%>

            </div>
        </div>

        <%- include('../partials/footer.ejs') -%>