<%- include('../partials/header.ejs') -%>


    <%- include('../partials/navbar.ejs') -%>

        <div class="mt-24">

            <div class="container mt-8 md:mt-24">
                <div class="lg:px-8 p-4 lg:py-6 bg-white rounded-md shadow-sm ">


                    <div class="">
                        <div class="">
                            <img class="w-full h-[450px] rounded-md" src="<%= url %>/public/files/<%= data.image %>"
                                alt="<%= data.title %>" />
                        </div>

                        <div class="mt-5">
                            <h1 class="text-[24px] font-medium text-primary">
                                <%= data.title %>
                            </h1>
                            <p class="whitespace-nowrap text-xs my-2 text-primary-700">
                                <%= moment(data.created_at).format('LLL') %>
                            </p>

                            <p class="mb-2 text-primary-400 capitalize">
                                <%= data.category_name %>
                            </p>

                            <p class="mt-4 w-full text-justify">
                                <%= convert(data.content) %>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <%- include('../partials/footer.ejs') -%>