<%- include('../partials/header.ejs') -%>


    <%- include('../partials/navbar.ejs') -%>

        <div class="mt-24">

            <div class="container mt-8 md:mt-24">
                <div class="px-8 py-6 bg-white rounded-md shadow-sm ">

                    <% if(datas.length===0){ %>
                        <p class="text-center text-error py-2">No blogs available</p>
                        <% } else { %>
                            <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">

                                <% datas.forEach(item=> { %>
                                    <% var date=new Date(item.created_at); // Format the date to YYYY-MM-DD var var
                                        dayOfMonth=date.getDate(); var monthName=date.toLocaleString('default', {
                                        month: 'long' }); %>

                                        <a href="/articale/<%= item.id %>" class="rounded-md shadow-lg">

                                            <div class="relative">
                                                <div>
                                                    <img class="w-full h-[200px]"
                                                        src="<%=url%>/public/files/<%= item.image %>"
                                                        alt="<%= item.title %>" />

                                                    <div
                                                        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                                                    </div>
                                                </div>


                                                <div
                                                    class="text-sm absolute top-0 right-0 bg-primary px-4 text-white rounded-full h-16 w-16 flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-primary-600 transition duration-500 ease-in-out">
                                                    <span class="font-bold">
                                                        <%= dayOfMonth %>
                                                    </span>
                                                    <small>
                                                        <%= monthName %>
                                                    </small>
                                                </div>

                                            </div>
                                            <div class="px-6 py-4">

                                                <p class="font-semibold text-lg inline-block mb-1.5">
                                                    <span class="text-primary">
                                                        <%= item.title %>
                                                    </span> (<%= item.category_name %>)
                                                </p>
                                                <p class="text-gray-500 text-sm text-justify">
                                                    <%= convert(item.content.slice(0, 150)) %>
                                                </p>
                                            </div>

                                            <div class="flex items-center justify-end px-6 pb-4">
                                                <p class=" flex justify-end text-sm font-regular text-gray-900">
                                                    <%= moment(item.created_at).fromNow(); %>
                                                </p>
                                            </div>
                                        </a>
                                        <% }); %>
                            </div>
                            <% } %>

                </div>
            </div>

        </div>

        <%- include('../partials/footer.ejs') -%>